{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/3.4.1/cerulean/bootstrap.min.css">
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'includs/_navbar.html' %}
        {#            {{ nav.top.render() }}#}
    {% endblock navbar %}

    <header>
        {% block header %}
        {% endblock %}
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        {% block footer %}
            <hr>
            <div style="text-align: center">
            Copyright 2019 by <a style="padding-bottom: 50px;" href="{{ url_for('main.index') }}">lzm</a>
            </div>

        {% endblock %}
    </footer>
{% endblock %}
