{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <h2>{{ self.title() }}</h2>
        <hr>
    </div>
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert-info">{{ message }} </div>
        {% endfor %}
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}
{% block footer %}
    <div class="container">
        {{ super() }}
    </div>
{% endblock %}